################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/neoneopets/FileContentIndex/011b1d2b-1cdd-4c8e-93ce-ee4283a448de.vsidx
/.vs/neoneopets/FileContentIndex/9959bc59-c394-403a-9076-b2159d2a2afc.vsidx
/.vs/neoneopets/FileContentIndex/b3613a24-39f0-46c0-b21e-3b19734a1690.vsidx
