################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/neoneopets/FileContentIndex/011b1d2b-1cdd-4c8e-93ce-ee4283a448de.vsidx
