<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/9f417466-2f5c-4dd4-93a1-3ef6a49cfaba/resourcegroups/NeoNeoPetsResourceGroup/providers/Microsoft.Web/sites/NeoNeoPets</ResourceId>
    <ResourceGroup>NeoNeoPetsResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://neoneopets.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5b3f9dad-ba11-484c-8301-a48fef07c412</ProjectGuid>
    <PublishUrl>https://neoneopets.scm.azurewebsites.net/</PublishUrl>
    <UserName>$NeoNeoPets</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>